@using iSchool.Organization.Appliaction.ViewModels;
@using iSchool.Infrastructure.Dapper;
@using iSchool.Organization.Appliaction.Service.Organization;
@using iSchool.Infrastructure;
@using iSchool.Organization.Domain.Enum;
@model PagedList<ActivityItem>
@{
    ViewData["Title"] = "活动管理";
    List<SelectListItem> ListSpecials = ViewBag.SpecialList;

}
@section css{
    <link href="~/css/jsselect/select.css" rel="stylesheet" />
    <style>
        .dataTables_paginate .pagination li.active span {
            background: #272c33;
            border-color: #272c33;
            color: #fff;
        }

        .typeahead {
            z-index: 8000;
        }

        .inline-form-control {
            display: inline-block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .a-href {
            cursor: pointer;
        }

        .sorting, .td-text-center {
            text-align: center;
        }

        .scale-img {
            overflow: hidden;
        }

        .scale-img img {
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
                transition: .5s all linear;
                -ms-transition: .5s all linear; /* IE 9 */
                -moz-transition: .5s all linear; /* Firefox */
                -webkit-transition: .5s all linear; /* Safari 和 Chrome */
                -o-transition: .5s all linear; /* Opera */
                border: none;
            }

        .scale-img:hover img {
            transform: scale3d(1.1,1.1,1.1);
            -ms-transform: scale3d(1.1,1.1,1.1);
            -moz-transform: scale3d(1.1,1.1,1.1);
            -webkit-transform: scale3d(1.1,1.1,1.1);
            -o-transform: scale3d(1.1,1.1,1.1);
            border: none;
        }
         .select-picker-search {  
            width:320px;
            height:40px;
        }
        .select-picker-search-checked {
            width: 305px;
            height: 40px;
        }
        .select-picker-options-wrp {
            width: 320px;
        }
        .select-picker-input-search {
            width: 290px;
        }
    </style>
}

@*分页数据预加载*@
<pre id="pgjson1" style="display:none;">@(Model.ToJsonString(true))</pre>

<form>
    @*条件搜索*@
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                @*活动状态*@
                <div class="col-md-2 ">
                    <label class="form-control-label">状态</label>
                    <select name="Status" id="Status" asp-items="@ViewBag.ActivityStatusList" class="form-control">
                        <option value="" disabled selected hidden>请选择</option>
                        <option value="0">所有</option>
                    </select>
                </div>

                @*关联专题*@
                @*<div class="col-md-2 ">
                    <label class="form-control-label">关联专题</label>
                    <select name="Special" id="Special" asp-items="@ViewBag.SpecialList" class="form-control">
                        <option value="" disabled selected hidden>请选择</option>
                        <option value="0">所有</option>
                    </select>
                </div>*@
            <div class="col-md-3">
                <label class="form-control-label">关联专题</label>
                <div id="div_Special" class="selectPickerWrapper"  style="margin-left:-2%;margin-top:0%;"  multiple="multiple">
                    <select id="div_Special_select" class="hidden">
                        @if (ListSpecials?.Any() == true)
                        {

                            foreach (var item in ListSpecials)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            

                @*活动名称*@
                <div class="col-md-2" style="margin-left:4%;">
                    <label class="form-control-label">活动名称：</label>
                    <input class="form-control" type="text" id="Title" name="Title" property="请输入活动名称" />
                </div>

                @*查询按钮*@
                <div class="col-md-1" style="padding-top:33px">
                    <button class="btn btn-primary btn-sm" id="searchBtn" style="width:100%;" type="button">查询</button>
                </div>

                @*新增*@
                <div class="col-md-1" style="padding-top:33px">
                    <a class="btn btn-primary btn-sm" style="color: #fff;width:100%" href="@Url.Action("AddUpdateShow")">新增</a>
                    @*<button class="btn btn-primary btn-sm add-update-Btn" id="addBtn" style="width:100%;" onclick="AddOrUpdate(this)" type="button">新增</button>*@
                </div>

                @*<div class="col-md-2"></div>*@
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">活动列表</div>
    <div class="card-body">
        @*活动列表*@
        <div id="tb"></div>
    </div>
</div>

@*活动列表模板*@
<script id="tmp_tb" type="text/template">
    <%
    var pages = data.currentPageItems;
    %>
    <div class="row">
        <div class="col-sm-12">
            <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table-export_info">
                <thead class="tbheader">
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 5%;">
                            序号
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 15%;">
                            活动名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 10%;">
                            关联专题
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            单篇奖金
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 8%;">
                            活动时间
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            支出金额
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            剩余金额
                        </th>                        
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            活动预算
                        </th>
                        <th  class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 6%;">
                            状态
                        </th>
                        <th  class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            产生评测数量
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 14%;">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0, c = pages.length; i < c; i++) { %>
                    <%
                        var can_not_onlineIf2 = (
                            (pages[i].budget - (pages[i].remainingAmount || 0)) <= 0 ||
                            new Date(pages[i].endTime) <= new Date()
                        );
                        var status = (
                            pages[i].status == '@(ActivityStatus.Fail.ToInt())' ? '已下架' :   
                            (pages[i].endTime != null && new Date(pages[i].endTime) <= new Date()) ? '已下架' :
                            (pages[i].status == '@(ActivityStatus.Ok.ToInt())' ? '上架中' : '无状态')
                        );
                    %>
                    <tr role="row" class="odd" style="text-align:center">
                        @* 序号 *@
                        <td><label><%= pages[i].rowNum %></label></td>
                        @* 活动名称 *@
                        <td><label><%= pages[i].title %></label></td>
                        @* 关联专题 *@
                        <td><label><%= pages[i].specialTitles %></label></td>
                        @* 单篇奖金 *@
                        <td><label><%= pages[i].price %></label></td>
                        @* 活动时间 *@
                        <td>
                            <label>
                                <%= pages[i].startTime %>
                                <%=((pages[i].startTime!=null || pages[i].endTime!=null)?"至":"")%>
                                <%= pages[i].endTime %>
                            </label>
                        </td>
                        @* 支出金额 *@
                        <td><label><%= pages[i].expenditureAmount %></label></td>
                        @* 剩余金额 *@
                        <td><label><%= pages[i].remainingAmount %></label></td>
                        @* 活动预算 *@
                        <td><label><%= pages[i].budget %></label></td>
                        @* 状态 *@
                        <td><label status0="<%=pages[i].status%>"><%= status %></label></td>
                        @* 产生评测数量 *@
                        <td><label><%= pages[i].actEvltCount %></label></td>
                        @* 操作 *@
                        <td class="td-text-center">
                            <a href="javascript:void(0)" data-id="<%= pages[i].activityUrl %>" class="text-info" onclick="CopyLink(this)">复制链接</a>
                            <a> | </a>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info add-update-Btn" onclick="Update(this)">编辑</a>
                            <a> | </a>
                            <% if (status == '上架中') { %>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info" onclick="OffTheShelf(this)">下架</a>
                            <% } else if (!can_not_onlineIf2) { %>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info" onclick="OffTheShelf(this)">上架</a>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status" aria-live="polite">
                总共 <%=data.totalItemCount %> 条
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="dataTables_paginate paging_simple_numbers" id="div_pager">
            </div>
        </div>
    </div>
</script>


@section Scripts{
    <script src="@(ViewBag.StaticFile)/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="@(ViewBag.StaticFile)/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    @*可搜索复选下拉框*@
    <script src="~/js/jqselect/select.js"></script>

    @*异步分页*@
    <script src="~/js/bootstrap-pager.js"></script>
    <script src="~/js/jq.postJSON.js"></script>
    <script src="~/js/microTemplate.js"></script>


    <script type="text/javascript">
        jQuery(function () {
            jQuery("#div_Special").mySelect();
            //列表+查询
            var reload = (function ($, render) {

                //查询条件
                var o = {};
                o.pageSize = 10;
                o.pageIndex = 1;
                o.searchType = 0;
                
                o.status = null; //状态
                o.specialId = null;//关联专题                
                o.title = "";//活动名字
                o.SpecialIds = null;//关联专题(多选)


                var bus = new LiejiaJS.event();
                var msgType = {
                    relist: 're-list',
                };



                var tmp = $('#tmp_tb').html();

                function ui2o() {
                    debugger;                    
                    o.status = $("#Status").val();
                    o.specialId = $("#Special").val();
                    o.title = $("#Title").val();
                    o.SpecialIds = $("#div_Special_hidden").val();
                }

                function init(data) {
                    debugger;
                    console.log('init and rendering tb with str ...');
                    var str = render(tmp, data);
                    console.log('render tb str ok');
                    $('#tb').html(str);

                    $('#div_pager').page({
                        count: data.totalItemCount,
                        pageNum: o.pageIndex,
                        pageSize: o.pageSize,
                        canSkip: true,
                    }).$element.on('pageChanged', function (e, p) {
                        o.pageIndex = p.pageNum;
                        ui2o(), ajax();
                    });
                    bus.emit(msgType.relist, 1);

                }

                function ajax() {
                    $.getJSON('/Activity/Index', o, function (res) {
                        debugger;
                        if (!res.isOk) {
                            ShowAlert('网络异常');
                            return console.log(res);
                        } else {
                            init(res.data);
                        }
                    });
                }

                //查询确定按钮
                $('#searchBtn').click(function () {
                    o.pageIndex = 1, o.searchType = 0, ui2o(), ajax();
                });

                var dt1 = JSON.parse($('#pgjson1').html()); //初始化分页数据
                $('#pgjson1').remove();
                if (dt1) {
                    debugger;
                    init(dt1);
                } else {
                    debugger;
                    init({
                        currentPageIndex: o.pageIndex,
                        pageSize: o.pageSize,
                        totalItemCount: 0,
                        totalPageCount: 0,
                        currentPageItems: [],
                    });
                    ajax();
                }

                return function () { ui2o(), ajax() };
            })(jQuery, microTemplate);

        });

        //上下架
        function OffTheShelf(obj) {
            var $this = jQuery(obj);
            var id = $this.attr("data-id");
            var status = $this.text() == "上架" ? 1 : 2;
            showConfirm('确定要' + $this.text()+'此活动？', function () {
                Loading("正在更新数据！");
                jQuery.post("@Url.Action("OffOrOnTheShelf")", { "id": id, "status": status }, function (data) {
                    if (data.status == 200) {
                        debugger;
                        jQuery("#searchBtn").click();
                        ShowAlert('操作成功', 1000, function () {                            
                            CloseLoading();
                        });
                    } else {
                        ShowAlert(data.msg,-1);
                        CloseLoading();
                    }
                });
            });
        }

        //跳转到关联文章列表
        function RelatedEvlts(obj) {
            var id = jQuery(obj).attr("data-id");
            window.location.href = "/Special/GetEvlts?SpecialId=" + id ;
        }

        /** 复制链接 **/
        function CopyLink(obj) {
            // 获得要复制的链接
            var content = jQuery(obj).attr("data-id");
            jQuery("body").after("<textarea cols='1' rows='1' id='copyContent'>" + content + " </textarea>");
            var link = document.getElementById("copyContent");
            link.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            jQuery("#copyContent").remove();
            ShowAlert("复制成功");
            //alert();
        }

        //跳转编辑页面
        function Update(obj) {
            var id = jQuery(obj).attr("data-id");
            window.location.href = "/Activity/AddUpdateShow?id="+id;
        }

        //重新渲染下拉框
        function ReRenderMySelect(id, options) {
            debugger;
            jQuery("#" + id + " .select-picker-search").each(function (index) {
                jQuery(this).remove();
            })
            jQuery("#" + id + " .select-picker-options-wrp").each(function (index) {
                jQuery(this).remove();
            })

            //options包含选中项，则把选项传入,否则重置所有选项为未选中
            if (options == null || options == undefined) {
                options = "";
                jQuery("#" + id + "_select").find("option").each(function () {
                    var option = jQuery(this);
                    options += '<option  value="' + option.val() + '">' + option.text() + '</option>';
                });
            }
            jQuery("#" + id + "_select").empty();
            jQuery("#" + id + "_select").append(options);
            jQuery("#" + id).mySelect();//重新渲染
        }


        //保存
        jQuery("#add-Special").on("click", function () {
            showConfirm('确定要保存此专题？', function () {
                var saveOpt = jQuery("#add-Special");
                var isAdd = saveOpt.attr("data-isadd");
                
                var pdata = {};
                pdata.Id = saveOpt.attr("data-id");//专题Id
                pdata.IsAdd = isAdd;//操作类型
                pdata.Title = jQuery("#addTitle").val();//专题名称
                pdata.SubTitle = jQuery("#addSubTitle").val();//专题副标题
                pdata.ShareTitle = jQuery("#addShareTitle").val();//分享标题
                pdata.ShareSubTitle = jQuery("#addShareSubTitle").val();//分享副标题
                pdata.Banner = jQuery("#banner").attr("src");//专题海报
                pdata.SpecialType = jQuery("#addSpecialType").val() == "1" ? 1 : 2;
                if (pdata.SpecialType == 2) {
                    var spcialIds = jQuery("#div_Special_hidden").val();
                    pdata.StrSmallSpecialIds = spcialIds;
                }
                
                
                

                //非空判断
                if (pdata.Title == "") {
                    ShowAlert("专题名称不允许为空，请填写", 3000);
                    jQuery("#addTitle").focus();
                    return;
                }
                if (pdata.SubTitle == "") {
                    ShowAlert("专题副标题不允许为空，请填写", 3000);
                    jQuery("#addSubTitle").focus();
                    return;
                }
                if (pdata.ShareTitle == "") {
                    ShowAlert("分享标题不允许为空，请填写", 3000);
                    jQuery("#addShareTitle").focus();
                    return;
                }
                if (pdata.ShareSubTitle == "") {
                    ShowAlert("分享副标题不允许为空，请填写", 3000);
                    jQuery("#addShareSubTitle").focus();
                    return;
                }
                if (pdata.Banner == "" || pdata.Banner == undefined) {
                    ShowAlert("专题海报不允许为空，请上传", 3000);
                    return;
                }
                if (pdata.SpecialType != 1 && pdata.SpecialType != 2) {
                    ShowAlert("专题类型不允许为空，请选择", 3000);
                    jQuery("#addSpecialType").focus();
                    return;
                }



                Loading("正在更新数据！");
                jQuery.post("@Url.Action("SaveSpec")", pdata, function (data) {
                    if (data.status == 200) {
                        ShowAlert('操作成功', 1000, function () {
                            jQuery("#searchBtn").click();
                            jQuery("#addBtn").attr("data-newid", "@ViewBag.NewId");
                            jQuery("#myAddModal").modal('hide');//关闭模态窗体
                            CloseLoading();
                            window.location.reload();
                        });
                    } else {
                        ShowAlert(data.msg, 3000);
                        CloseLoading();
                        if (data.msg != "专题名称重复，请重新编辑！") {
                            jQuery("#myAddModal").modal('hide');//关闭模态窗体
                            window.location.reload();
                        }
                        else {
                            jQuery("#addTitle").focus();
                        }
                    }
                });
            });

        });

        function SmallSpecialsByBigId(bigid) {
            debugger;
            jQuery.getJSON("@Url.Action("GetSpecialListItemsByBigId")", { "bigId": bigid }, function (data) {
                debugger;
                console.log('datadata:', data)
                return data;
            });
        }

        //鼠标移上去放大图片
        function moveover(obj) {
            debugger;
            var id = jQuery(obj).attr('id');
            document.getElementById(id).width = "300"
        }
        //鼠标离开恢复图片大小
        function moveback(obj) {
            debugger;
            var id = jQuery(obj).attr('id');
            document.getElementById(id).width = "150";
    }



    </script>
}
