@using iSchool.Organization.Appliaction.ViewModels.Special;
@using iSchool.Infrastructure.Dapper;
@using iSchool.Organization.Appliaction.Service.Organization;
@using iSchool.Infrastructure;
@using iSchool.Organization.Domain.Enum;
@model PagedList<SpecialItem>
@{
    ViewData["Title"] = "专题管理";
    List<SelectListItem> ListSpecials = ViewBag.SpecialList;

}
@section css{
    <link href="~/css/jsselect/select.css" rel="stylesheet" />
    <style>
        .dataTables_paginate .pagination li.active span {
            background: #272c33;
            border-color: #272c33;
            color: #fff;
        }

        .typeahead {
            z-index: 8000;
        }

        .inline-form-control {
            display: inline-block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .a-href {
            cursor: pointer;
        }

        .sorting, .td-text-center {
            text-align: center;
        }

        .scale-img {
            overflow: hidden;
        }

        .scale-img img {
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
                transition: .5s all linear;
                -ms-transition: .5s all linear; /* IE 9 */
                -moz-transition: .5s all linear; /* Firefox */
                -webkit-transition: .5s all linear; /* Safari 和 Chrome */
                -o-transition: .5s all linear; /* Opera */
                border: none;
            }

        .scale-img:hover img {
            transform: scale3d(1.1,1.1,1.1);
            -ms-transform: scale3d(1.1,1.1,1.1);
            -moz-transform: scale3d(1.1,1.1,1.1);
            -webkit-transform: scale3d(1.1,1.1,1.1);
            -o-transform: scale3d(1.1,1.1,1.1);
            border: none;
        }
         .select-picker-search {  
            width:320px;
            height:40px;
        }
        .select-picker-search-checked {
            width: 305px;
            height: 40px;
        }
        .select-picker-options-wrp {
            width: 320px;
        }
        .select-picker-input-search {
            width: 290px;
        }
    </style>
}

@*分页数据预加载*@
<pre id="pgjson1" style="display:none;">@(Model.ToJsonString(true))</pre>

<form>
    @*条件搜索*@
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                @*状态*@
                <div class="col-md-2 ">
                    <label class="form-control-label">状态</label>
                    <select name="Status" id="Status" asp-items="@ViewBag.SpecialStatusList" class="form-control">
                        <option value="" disabled selected hidden>请选择</option>
                        <option value="0">所有</option>
                    </select>
                </div>

                @*专题名称*@
                <div class="col-md-2">
                    <label class="form-control-label">专题名称：</label>
                    <input class="form-control" type="text" id="Title" name="Title" property="请输入专题名称" />
                </div>

                @*分享标题*@
                <div class="col-md-2">
                    <label class=" form-control-label">分享标题：</label>
                    <input class="form-control" type="text" id="ShareTitle" name="ShareTitle" property="请输入分享标题" />
                </div>

                @*分享副标题*@
                <div class="col-md-2">
                    <label class=" form-control-label">分享副标题：</label>
                    <input class="form-control" type="text" id="ShareSubTitle" name="ShareSubTitle" property="请输入分享副标题" />
                </div>

                @*查询按钮*@
                <div class="col-md-1" style="padding-top:33px">
                    <button class="btn btn-primary btn-sm" id="searchBtn" style="width:100%;" type="button">查询</button>
                </div>

                @*新增*@
                <div class="col-md-1" style="padding-top:33px">
                    <button class="btn btn-primary btn-sm add-update-Btn" id="addBtn" style="width:100%;" data-newid="@Guid.NewGuid()" onclick="AddOrUpdate(this)" type="button">新增</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">专题列表</div>
    <div class="card-body">
        @*专题列表*@
        <div id="tb"></div>
    </div>
</div>

@*删除模态窗体*@
<div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    删除专题
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label>是否确定删除专题？</label>
                </div>
                <div class="form-inline" id="select-html">
                    <span style="color:red">*</span>
                    <label id="ShowTip">小专题删除后，原有产品归为：</label>
                    <select name="SpecialList" id="SpecialList" asp-items="@ViewBag.SpecialList" class="form-control">
                        <option value="" disabled selected hidden>请选择</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="del-Special" data-id="">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

            </div>
        </div>
    </div>
</div>

@*新增/编辑专题模态窗体*@
<div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">
                    新增专题
                </h4>
            </div>
            <div class="modal-body">
                @*专题名称*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">专题名称：</label>
                        <div class="col-md-9" style="margin-left:3.5%;">
                            <input type="text" name="addTitle" id="addTitle" class="form-control" placeholder="请输入专题名称" value="" style="width:100%;">
                        </div>
                    </div>
                </div>

                @*专题副标题*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">专题副标题：</label>
                        <div class="col-md-9" style="margin-left:0%;">
                            <input type="text" name="addSubTitle" id="addSubTitle" class="form-control" placeholder="请输入专题副标题" value="" style="width:100%;">
                        </div>
                    </div>
                </div>

                @*分享标题*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">分享标题：</label>
                        <div class="col-md-9" style="margin-left:3.5%;">
                            <input type="text" name="addShareTitle" id="addShareTitle" class="form-control" placeholder="请输入分享标题" value="" style="width:100%;">
                        </div>
                    </div>
                </div>

                @*分享副标题*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">分享副标题：</label>
                        <div class="col-md-9">
                            <input type="text" name="addShareSubTitle" id="addShareSubTitle" class="form-control" placeholder="请输入分享副标题" value="" style="width:100%;">
                        </div>
                    </div>
                </div>

                @*专题类型*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">专题类型：</label>
                        <div class="col-md-9"  style="margin-left:3.5%;">
                            <select name="addSpecialType" id="addSpecialType" class="form-control">
                                <option value="" disabled selected hidden>请选择</option>
                                <option value="1">小专题</option>
                                <option value="2">大专题</option>
                            </select>
                        </div>
                    </div>
                </div>

                @*大专题关联小专题*@
            <div class="form-group" id="div-special-select" hidden="hidden">       
                <div class="form-inline">
                    <label class="control-label mb-1">关联小专题：</label>
                    <div class="col-md-9" style="margin-left:0.5%;">
                        <div id="div_Special" class="selectPickerWrapper" multiple="multiple">
                            <select id="div_Special_select" class="hidden">
                                @if (ListSpecials?.Any() == true)
                                {
                                    foreach (var item in ListSpecials)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>                        
                    </div>

                </div>

                @*海报*@
                <div class="form-group">
                    <div class="form-inline">
                        <span style="color:red">*</span>
                        <label class="control-label mb-1">海报图片(351pt * 120pt)</label>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-4">
                            <div class="form-inline">
                                <img id="banner" hidden="hidden" style="width:100px;height:100px;" src="">
                            </div>
                        </div>
                        @*//上传按钮*@
                        <div class="col-md-2">
                            <input type="file" id="" hidden="hidden" class="c_ignore updateFile" name="files" multiple accept="jpg,png" title="只允许上传Mp4格式的视频!视频大小不能超过40M" />
                            <input type="button" id="uploadlogo" style="width: 100px; height: 100px; font-size: 50px;" class="uploadvideo-btn btn  btn-info btn-block c_ignore updateBtn" data-video="" data-input="InterviewVideos" value="+" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-isadd="" id="add-Special" data-id="">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

            </div>
        </div>
    </div>
</div>

@*专题列表模板*@
<script id="tmp_tb" type="text/template">
    <%
    var pages = data.currentPageItems;
    %>
    <div class="row">
        <div class="col-sm-12">
            <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table-export_info">
                <thead class="tbheader">
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 6%;">
                            序号
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 15%;">
                            专题名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="        width: 15%;">
                            专题副标题
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 8%;">
                            测评数量
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 8%;">
                            专题类型
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 7%;">
                            状态
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 13%;">
                            分享标题
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 13%;">
                            分享副标题
                        </th>
                        <th hidden="hidden" class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 8%;">
                            专题海报
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 15%;">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0, c = pages.length; i < c; i++) { %>
                    <tr role="row" class="odd" style="text-align:center">
                        <td><label name="<%= pages[i].id %>"><%= pages[i].rowNum %></label></td>
                        <td><label name="title-<%= pages[i].id %>"><%= pages[i].title %></label></td>
                        <td><label name="subTitle-<%= pages[i].id %>"><%= pages[i].subTitle %></label></td>
                        <td><label name="<%= pages[i].id %>"><%= pages[i].evltCount %></label></td>
                        <td><label name="type-<%= pages[i].id %>"><%= pages[i].type==1?"小专题":"大专题" %></label></td>
                        <td><label name="<%= pages[i].id %>"><%= pages[i].status==1?"上架中":"已下架" %></label></td>
                        <td><label name="shareTitle-<%= pages[i].id %>"><%= pages[i].shareTitle %></label></td>
                        <td><label name="shareSubTitle-<%= pages[i].id %>"><%= pages[i].shareSubTitle %></label></td>
                        <td hidden="hidden"><label name="banner-<%= pages[i].id %>"><%= pages[i].banner %></label></td>
                        <td class="td-text-center">
                            <a href="javascript:void(0)" data-id="<%= pages[i].specialUrl %>" class="text-info" onclick="CopyLink(this)">复制链接</a>
                            <a> | </a>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info add-update-Btn" onclick="AddOrUpdate(this)">编辑</a>
                            <a> | </a>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" data-type="<%= pages[i].type %>" class="text-info DelShow" onclick="DelShow(this)">删除</a>
                            <a> | </a>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info" onclick="OffTheShelf(this)"><%= pages[i].status==1?"下架":"上架" %></a>
                            <% if(pages[i].type==1) { %>
                            <a> | </a>
                            <a href="javascript:void(0)" data-id="<%= pages[i].id %>" class="text-info" onclick="RelatedEvlts(this)">关联文章</a>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status" aria-live="polite">
                总共 <%=data.totalItemCount %> 条
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="dataTables_paginate paging_simple_numbers" id="div_pager">
            </div>
        </div>
    </div>
</script>


@section Scripts{
    <script src="@(ViewBag.StaticFile)/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="@(ViewBag.StaticFile)/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    @*可搜索复选下拉框*@
    <script src="~/js/jqselect/select.js"></script>

    @*异步分页*@
    <script src="~/js/bootstrap-pager.js"></script>
    <script src="~/js/jq.postJSON.js"></script>
    <script src="~/js/microTemplate.js"></script>


    <script type="text/javascript">
        jQuery(function () {

            //logo
            var uploadlogo = (function () {
                //上传logo--选择图片
                jQuery('.updateBtn').click(function () {
                    return jQuery('#' + jQuery(this).attr('data-video')).click(); //注意这句，主要是需要return点击事件返回值
                });
                //上传logo--自动上传
                jQuery('.updateFile').on("change", function () {

                    var fileinput = jQuery(this);//上传文件
                    var videoInput = fileinput.attr('id');
                    var $videoInput = document.getElementById(videoInput);

                    if ($videoInput.files.length == 0) {
                        return;
                    }
                    var formData = new FormData();
                    console.log(videoInput)
                    for (var i = 0; i < $videoInput.files.length; i++) {
                        formData.append(videoInput, $videoInput.files[i]);
                        //console.log($videoInput.files[i])
                    }
                    formData.append('p', 'specbanner'); //服务文件夹
                    console.log(formData);
                    debugger;
                    Loading("正在上传图片！");
                    jQuery.ajax({
                        url: "@ViewBag.UploadUrl",
                        type: "post",
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false
                    }).done(function (res) {
                        debugger;
                        if (res.status == 200) {
                            ShowAlert('上传成功', 1000, function () {
                                fileinput.val('');
                                debugger;
                                var url = res.data.src;
                                var url_s = res.data.src_s;
                                jQuery("#banner").attr("src", url).removeAttr("hidden");

                            });

                        } else {
                            ShowAlert("上传失败:" + res.msg, -1);
                            CloseLoading();
                        }
                        CloseLoading();
                    }).fail(function (res) {
                        ShowAlert("网络异常:" + res.msg, -1);
                        CloseLoading();
                    });
                })
            })()

            //列表+查询
            var reload = (function ($, render) {

                //查询条件
                var o = {};
                o.pageSize = 10;
                o.pageIndex = 1;
                o.searchType = 0;
                o.title = "";//专题名字
                o.status = null; //状态
                o.shareTitle = "";//分享标题
                o.shareSubTitle = "";//分享副标题

                var bus = new LiejiaJS.event();
                var msgType = {
                    relist: 're-list',
                };



                var tmp = $('#tmp_tb').html();

                function ui2o() {
                    debugger;
                    o.title = $("#Title").val();
                    o.status = $("#Status").val();
                    o.shareTitle = $("#ShareTitle").val();
                    o.shareSubTitle = $("#ShareSubTitle").val();
                }

                function init(data) {
                    debugger;
                    console.log('init and rendering tb with str ...');
                    var str = render(tmp, data);
                    console.log('render tb str ok');
                    $('#tb').html(str);

                    $('#div_pager').page({
                        count: data.totalItemCount,
                        pageNum: o.pageIndex,
                        pageSize: o.pageSize,
                        canSkip: true,
                    }).$element.on('pageChanged', function (e, p) {
                        o.pageIndex = p.pageNum;
                        ui2o(), ajax();
                    });
                    bus.emit(msgType.relist, 1);

                }

                function ajax() {
                    $.getJSON('/Special/Index', o, function (res) {
                        debugger;
                        if (!res.isOk) {
                            ShowAlert('网络异常');
                            return console.log(res);
                        } else {
                            init(res.data);
                        }
                    });
                }

                //查询确定按钮
                $('#searchBtn').click(function () {
                    o.pageIndex = 1, o.searchType = 0, ui2o(), ajax();
                });

                var dt1 = JSON.parse($('#pgjson1').html()); //初始化分页数据
                $('#pgjson1').remove();
                if (dt1) {
                    debugger;
                    init(dt1);
                } else {
                    debugger;
                    init({
                        currentPageIndex: o.pageIndex,
                        pageSize: o.pageSize,
                        totalItemCount: 0,
                        totalPageCount: 0,
                        currentPageItems: [],
                    });
                    ajax();
                }

                return function () { ui2o(), ajax() };
            })(jQuery, microTemplate);

        });

        //上下架
        function OffTheShelf(obj) {
            var $this = jQuery(obj);
            var id = $this.attr("data-id");
            var status = $this.text() == "上架" ? 1 : 2;
            showConfirm('确定要' + $this.text()+'此专题？', function () {
                Loading("正在更新数据！");
                jQuery.post("@Url.Action("OffOrOnTheShelf")", { "id": id, "status": status }, function (data) {
                    if (data.status == 200) {
                        ShowAlert('操作成功', 1000, function () {
                            jQuery("#searchBtn").click();
                            CloseLoading();
                        });
                    } else {
                        ShowAlert(data.msg);
                        CloseLoading();
                    }
                });
            });
        }

        //跳转到关联文章列表
        function RelatedEvlts(obj) {
            var id = jQuery(obj).attr("data-id");
            window.location.href = "/Special/GetEvlts?SpecialId=" + id ;
        }

        /** 复制链接 **/
        function CopyLink(obj) {
            // 获得要复制的链接
            var content = jQuery(obj).attr("data-id");
            jQuery("body").after("<textarea cols='1' rows='1' id='copyContent'>" + content + " </textarea>");
            var link = document.getElementById("copyContent");
            link.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            jQuery("#copyContent").remove();
            ShowAlert("复制成功");
            //alert();
        }

        //删除
        function DelShow(obj) {
            var $this = jQuery(obj);
            var id = $this.attr("data-id").toUpperCase();//专题Id
            var specialType = $this.attr("data-type").toUpperCase();//专题类型
            if (specialType == "2") {
                jQuery("#ShowTip").html("大专题删除后，原有小专题归为(可删除)：");
            } else {
                jQuery("#ShowTip").html("小专题删除后，原有产品归为：");
            }
            var options = '<option value="" disabled selected hidden>请选择</option>';
            jQuery.getJSON("@Url.Action("Specials")", { "specialType": specialType }, function (data) {
                jQuery.each(jQuery(data), function (index, op) {
                    if (id != op.value) {
                        options += '<option value="' + op.value + '">' + op.text + '</option>';
                    }
                });
                //大专题有直接删除、转移到其他大专题两种
                if (specialType == "2") {
                    options += '<option value="00000000-0000-0000-0000-000000000000">删除</option>';
                }
                jQuery("#SpecialList").empty();
                jQuery("#SpecialList").append(options);
            });
            jQuery("#del-Special").attr("data-id", id);
            jQuery("#del-Special").attr("data-type", specialType);
            jQuery("#myDelModal").modal('show');
        }
        jQuery("#del-Special").on("click", function () {
            var delId = jQuery(this).attr("data-id");
            var select = jQuery("#SpecialList");
            var newId = null;
            var specialType = jQuery(this).attr("data-type");
            if (select.val()) {
                newId = select.val().toUpperCase();
            }
            else {
                ShowAlert("请选择专题");
                select.focus();
                return;
            }
            showConfirm('确定要删除此专题？', function () {
                jQuery("#myDelModal").modal('hide');
                Loading("正在更新数据！");
                jQuery.post("@Url.Action("DelSpecial")", { "delSpecId": delId, "newSpecId": newId, "specialType": specialType }, function (data) {
                    if (data.status == 200) {
                        ShowAlert('操作成功', 1000, function () {
                            jQuery("#searchBtn").click();
                            jQuery("#SpecialList").val("");
                            CloseLoading();
                        });
                    } else {
                        ShowAlert(data.msg);
                        jQuery("#SpecialList").val("");
                        CloseLoading();
                    }
                });

            });
        });

        //新增/编辑
        function AddOrUpdate(obj) {

            //最后清空新增/编辑页面所有输入值
            jQuery("#addTitle").val("");
            jQuery("#addSubTitle").val("");
            jQuery("#addShareTitle").val("");
            jQuery("#addShareSubTitle").val("");
            jQuery("#addSpecialType").val("").removeAttr("disabled");
            jQuery("#banner").removeAttr("src").attr("hidden", "hidden");





            var opbtn = jQuery(obj);
            var speId = opbtn.attr("data-newid");
            var isAdd = true;//新增/编辑，默认新增
            if (opbtn.attr("data-id")) {//编辑
                jQuery("#addSpecialType").attr("disabled", "");//编辑状态，专题类型只读
                speId = opbtn.attr("data-id");
                isAdd = false;//编辑
                //给文本框赋值
                jQuery("#myAddModalLabel").text("编辑专题");
                jQuery("#addTitle").val(jQuery("label[name=title-" + speId + "]").text());//专题名称
                jQuery("#addSubTitle").val(jQuery("label[name=subTitle-" + speId + "]").text());//专题副标题
                jQuery("#addShareTitle").val(jQuery("label[name=shareTitle-" + speId + "]").text());//分享标题
                jQuery("#addShareSubTitle").val(jQuery("label[name=shareSubTitle-" + speId + "]").text());//分享副标题
                jQuery("#addSpecialType").val((jQuery("label[name=type-" + speId + "]").text()) == "小专题" ? "1" : "2");//专题类型
                var banner = jQuery("label[name=banner-" + speId + "]").text();
                if (banner) {
                    jQuery("#banner").attr("src", banner).removeAttr("hidden");//专题海报
                }

                //获取大专题下旧小专题
                debugger;
                if (jQuery("#addSpecialType").val() == "2") {
                    debugger;
                    jQuery.getJSON("@Url.Action("GetSpecialListItemsByBigId")", { "bigId": speId }, function (data) {
                        var options = null;
                        jQuery.each(data, function (index, item) {
                            debugger;
                            if (item.selected)
                                options += '<option value="' + item.value + '"  data-id="duihao-checked" >' + item.text + '</option>';
                            else
                                options += '<option value="' + item.value + '">' + item.text + '</option>';

                        });
                        //jQuery("#div_Special").mySelect();
                        ReRenderMySelect("div_Special", options);
                        jQuery("#div-special-select").removeAttr("hidden");
                    });
                }



            } else {//新增
                jQuery("#addSpecialType").on("change", function () {
                    debugger;
                    if (jQuery(this).val() == 2) {
                        jQuery("#div-special-select").removeAttr("hidden");
                        jQuery.getJSON("@Url.Action("GetSpecialListItemsByBigId")", { "bigId": null }, function (data) {
                        var options = null;
                        jQuery.each(data, function (index, item) {
                            options += '<option value="' + item.value + '">' + item.text + '</option>';
                        });
                        ReRenderMySelect("div_Special", options);
                    jQuery("#div-special-select").removeAttr("hidden");
                    //jQuery("#div_Special").mySelect();
                    });
                    }
                    else {
                        jQuery("#div-special-select").attr("hidden", "hidden");
                    }

                })
                jQuery("#div-special-select").attr("hidden", "hidden");

            }
            jQuery("#add-Special").attr("data-id", speId).attr("data-isadd", isAdd);
            jQuery("input[name=files]").attr("id", speId);
            jQuery("#uploadlogo").attr("data-video", speId);
            jQuery("#myAddModal").modal('show');
        }

        //重新渲染下拉框
        function ReRenderMySelect(id, options) {
            debugger;
            jQuery("#" + id + " .select-picker-search").each(function (index) {
                jQuery(this).remove();
            })
            jQuery("#" + id + " .select-picker-options-wrp").each(function (index) {
                jQuery(this).remove();
            })

            //options包含选中项，则把选项传入,否则重置所有选项为未选中
            if (options == null || options == undefined) {
                options = "";
                jQuery("#" + id + "_select").find("option").each(function () {
                    var option = jQuery(this);
                    options += '<option  value="' + option.val() + '">' + option.text() + '</option>';
                });
            }
            jQuery("#" + id + "_select").empty();
            jQuery("#" + id + "_select").append(options);
            jQuery("#" + id).mySelect();//重新渲染
        }


        //保存
        jQuery("#add-Special").on("click", function () {
            showConfirm('确定要保存此专题？', function () {
                var saveOpt = jQuery("#add-Special");
                var isAdd = saveOpt.attr("data-isadd");

                var pdata = {};
                pdata.Id = saveOpt.attr("data-id");//专题Id
                pdata.IsAdd = isAdd;//操作类型
                pdata.Title = jQuery("#addTitle").val();//专题名称
                pdata.SubTitle = jQuery("#addSubTitle").val();//专题副标题
                pdata.ShareTitle = jQuery("#addShareTitle").val();//分享标题
                pdata.ShareSubTitle = jQuery("#addShareSubTitle").val();//分享副标题
                pdata.Banner = jQuery("#banner").attr("src");//专题海报
                pdata.SpecialType = jQuery("#addSpecialType").val();
                if (pdata.SpecialType == 2) {
                    var spcialIds = jQuery("#div_Special_hidden").val();
                    pdata.StrSmallSpecialIds = spcialIds;
                }




                //非空判断
                if (pdata.Title == "") {
                    ShowAlert("专题名称不允许为空，请填写", 3000);
                    jQuery("#addTitle").focus();
                    return;
                }
                if (pdata.SubTitle == "") {
                    ShowAlert("专题副标题不允许为空，请填写", 3000);
                    jQuery("#addSubTitle").focus();
                    return;
                }
                if (pdata.ShareTitle == "") {
                    ShowAlert("分享标题不允许为空，请填写", 3000);
                    jQuery("#addShareTitle").focus();
                    return;
                }
                if (pdata.ShareSubTitle == "") {
                    ShowAlert("分享副标题不允许为空，请填写", 3000);
                    jQuery("#addShareSubTitle").focus();
                    return;
                }
                if (pdata.Banner == "" || pdata.Banner == undefined) {
                    ShowAlert("专题海报不允许为空，请上传", 3000);
                    return;
                }

                if (pdata.SpecialType != 1 && pdata.SpecialType != 2) {
                    ShowAlert("专题类型不允许为空，请选择", 3000);
                    jQuery("#addSpecialType").focus();
                    return;
                }



                Loading("正在更新数据！");
                jQuery.post("@Url.Action("SaveSpec")", pdata, function (data) {
                    if (data.status == 200) {
                        ShowAlert('操作成功', 1000, function () {
                            jQuery("#searchBtn").click();
                            jQuery("#addBtn").attr("data-newid", "@ViewBag.NewId");
                            jQuery("#myAddModal").modal('hide');//关闭模态窗体
                            CloseLoading();
                            window.location.reload();
                        });
                    } else {
                        ShowAlert(data.msg, 3000);
                        CloseLoading();
                        if (data.msg != "专题名称重复，请重新编辑！") {
                            jQuery("#myAddModal").modal('hide');//关闭模态窗体
                            window.location.reload();
                        }
                        else {
                            jQuery("#addTitle").focus();
                        }
                    }
                });
            });

        });

        function SmallSpecialsByBigId(bigid) {
            debugger;
            jQuery.getJSON("@Url.Action("GetSpecialListItemsByBigId")", { "bigId": bigid }, function (data) {
                debugger;
                console.log('datadata:', data)
                return data;
            });
        }

        //鼠标移上去放大图片
        function moveover(obj) {
            debugger;
            var id = jQuery(obj).attr('id');
            document.getElementById(id).width = "300"
        }
        //鼠标离开恢复图片大小
        function moveback(obj) {
            debugger;
            var id = jQuery(obj).attr('id');
            document.getElementById(id).width = "150";
    }



    </script>
}
