@using iSchool.Organization.Appliaction.ViewModels
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@using iSchool.Infrastructure;
@using iSchool.Domain.Enum;
@model IPagedList<ClaimOrgItem>
@{
    ViewData["Title"] = "认领机构";
    
}
@section css{   
    <style>
        .dataTables_paginate .pagination li.active span {
            background: #272c33;
            border-color: #272c33;
            color: #fff;
        }

        .typeahead {
            z-index: 8000;
        }

        .inline-form-control {
            display: inline-block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .a-href {
            cursor: pointer;
        }
        .sorting, .td-text-center {
            text-align: center;
        }

    </style>
}

<form action="@(Url.Action("ClaimOrgList"))" method="get">
    @*搜索*@
    @*<div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-6"></div>
                <div class="col-md-6 ">
                    <div class="input-group">
                        <input type="text" id="search" name="search" placeholder="请输入学校ID或学校名称" class="form-control" data-provide="typeahead" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">检索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*条件搜索*@
    @*<div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-4 ">
                    <label class=" form-control-label">招生年级</label>
                    <select name="grade" id="grade" asp-items="@ViewBag.GradeSelect" class="form-control">
                        <option value="0">所有</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label">地区</label>
                    <div class="form-inline">
                        <select name="province" id="province" asp-items="@ViewBag.ProvinceSelect" class="form-control">
                            <option value="0">所有</option>
                        </select>
                        <select name="city" id="city" class="form-control">
                            <option value="0">所有</option>
                            @if (ViewBag.CitySelect != null)
                            {
                                foreach (var item in (IEnumerable<SelectListItem>)ViewBag.CitySelect)
                                {
                                    <option value="@(item.Value)">@item.Text</option>

                                }
                            }
                        </select>
                        <select name="area" id="area" class="form-control">
                            <option value="0">所有</option>
                            @if (ViewBag.AreaSelect != null)
                            {
                                foreach (var item in (IEnumerable<SelectListItem>)ViewBag.AreaSelect)
                                {
                                    <option value="@(item.Value)">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2"></div>

                <div class="col-md-4">
                    <label class=" form-control-label">学校类型</label>
                    <select name="type" id="type" asp-items="@ViewBag.SchoolTypeSelect" class="form-control">
                        <option value="0">所有</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class=" form-control-label">审核状态</label>
                    <select name="status" id="status" class="form-control" asp-items="@ViewBag.AuditStatus">
                        <option value="0">所有</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label class=" form-control-label">提交时间</label>
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" value="" id="starttime" name="starttime" placeholder="请选择时间" class="form-control datetimepicker4">
                        </div>
                        <label class="form-control-label">-</label>
                        <div class="col-md-5">
                            <input type="text" value="" id="endtime" name="endtime" placeholder="请选择时间" class="form-control datetimepicker4">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" form-control-label">编辑ID</label>
                    <select name="editors" id="editors" class="form-control">
                        <option value="">所有</option>
                        @foreach (var item in (IEnumerable<iSchool.Domain.Total_User>)ViewBag.Editors)
                        {
                            <option value="@(item.Id)">@item.Account</option>
                        }
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right" style="padding-top:33px">
                    <button class="btn btn-danger btn-sm" onclick="reset()" type="reset">取消筛选</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary btn-sm" type="submit">筛选</button>
                </div>
                <div class="col-md-1 ">
                </div>
            </div>
        </div>
    </div>*@
</form>
<div class="card">
    <div class="card-header">认领机构列表</div>
    <div class="card-body">
        <div class="row">
            @*认领机构列表--表头*@
            <div class="col-sm-12">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table-export_info">
                    <thead>
                        <tr role="row">
                            @*<th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">
                                机构ID
                            </th>*@
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">
                                序号
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">
                                机构
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 80px;">
                                联系人
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 80px;">
                                电话
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 100px;">
                                职位
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 80px;">
                                认领状态
                            </th>                            
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table-export" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width:80px;">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr role="row" class="odd">
                            @*<td>@item.OrgId</td>*@
                            <td class="td-text-center">@item.RowNum</td>
                            <td class="td-text-center">@item.OrgName</td>
                            <td class="td-text-center">@item.Name</td>
                            <td class="td-text-center">@item.Mobile</td>
                            <td class="td-text-center">@item.Position</td>
                            <td class="td-text-center">@(item.Status==null? "待确定": EnumUtil.GetDesc((ClaimStatusEnum)item.Status))</td>
                            <td class="td-text-center">
                                @if (item.Status==(int)ClaimStatusEnum.ToBeConfirmed)//待确定
                                {
                                    <a href="javascript:void(0)" data-id="@item.OrgId" data-id2="@item.Id"  data-op="2" class="text-info" onclick="ClaimOrNo(this)">确认认领</a>
                                    <a> | </a>
                                    <a href="javascript:void(0)" data-id="@item.OrgId" data-id2="@item.Id" data-op="3" class="text-info" onclick="ClaimOrNo(this)">拒绝</a>
                                }
                                else if (item.Status ==(int)ClaimStatusEnum.Claimed)//已认领
                                {
                                    <a href="javascript:void(0)" data-id="@item.OrgId" data-id2="@item.Id"  data-op="4" class="text-info" onclick="ClaimOrNo(this)">取消认领</a>
                                }                               
                            </td>
                        </tr>

                         }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            @*page2、翻页时请求后台方法及传递查询参数*@
            <div class="col-sm-12 col-md-2">
                <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status" aria-live="polite">
                    总共@(Model.PageCount)页
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table-export_paginate">
                    @Html.PagedListPager(Model, page => Url.Action("ClaimOrgList", new
               {
                   //左边的要与action的请求参数一致
                   page = page,

               }),
                    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
                    {
                        ContainerDivClasses = new[] { "" },
                        LiElementClasses = new[] { "page-item", "paginate_button" },
                        PageClasses = new[] { "page-link" },
                        MaximumPageNumbersToDisplay = 5,
                    })
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div style="margin:0 1em;">
                    @Html.PagedListGoToPageForm(Model, Url.Action("ClaimOrgList", new
                    {

                    }), new GoToFormRenderOptions
                    {
                        InputFieldName = "page",
                        InputFieldType = "number",
                        InputFieldClass = "inline-form-control",
                        InputWidth = 70,
                        LabelFormat = " 转到",
                        SubmitButtonFormat = "确定",
                        SubmitButtonClass = "btn btn-primary btn-sm btn-pager-skip",
                        SubmitButtonWidth = 50,
                    })
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hide_query" value="@ViewBag.queryJson" />
    <input type="hidden" id="hide_search" value="@ViewBag.search" />
</div>

@section Scripts{
    <script src="@(ViewBag.StaticFile)/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="@(ViewBag.StaticFile)/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    <script type="text/javascript">
    jQuery(function () {
        jQuery('a[a-href]').on('click', function () {
            window.location.href = jQuery(this).attr('a-href');
        });
        //初始化
        init();

        //page1、 page skip get searchdata from FormTable
        jQuery('.btn-pager-skip').on('click', function () {
            var form = jQuery(this).parents('form').eq(0), u = form.attr('action');
            window.location.href = u + '&page=' + form.find('[name=page]').val();
            return false;
        });
    });

    //认领或拒绝
    function ClaimOrNo(select) {
            debugger;
        var $this = jQuery(select);
        var orgId = $this.attr("data-id");
        var id = $this.attr("data-id2");
            var stats = $this.attr("data-op");
        var msg = stats == '2' ? '确定要认领机构？' : stats == '3' ? '确定要拒绝？' : stats == '4' ? '确定取消认领？' : '';
        showConfirm(msg, function () {
            Loading("正在更新数据！");
            jQuery.post("@Url.Action("ClaimOrgOrNot")", { "id": id, "orgId": orgId, "stats": stats }, function (data) {
                debugger;
                if (data.status == 200) {
                    ShowAlert('操作成功', 1000, function () {
                        window.location.reload();
                    });
                } else {
                    ShowAlert(data.msg);
                    CloseLoading();
                }
            });
        });
    }
    function Del(select) {
        var $this = jQuery(select);
        var id = $this.attr("data-id");

        showConfirm('确定要下线此学校？', function () {
            Loading("正在更新数据！");
            jQuery.post("@Url.Action("DeleteSchool")", { "Sid": id }, function (data) {
                if (data.state == 200) {
                    ShowAlert('操作成功', 1000, function () {
                        window.location.reload();
                    });
                } else {
                    ShowAlert(data.msg);
                    CloseLoading();
                }
            });
        });
    }

        function init() {
            var action = jQuery(".PagedList-goToPage").attr("action") + '?1=1';
            jQuery(".PagedList-goToPage").attr("action", action);
        //例子，查询条件传递
        ////1、获取历史查询hide json值
        //var queryjson = JSON.parse(jQuery("#hide_query").val());
        //var search = jQuery("#hide_search").val();
        ////2、把查询条件的值赋值给相应查询框
        //jQuery("#grade").val("" + queryjson.Grade);
        
    }

    </script>
}
