@using iSchool;
@using iSchool.Domain.Enum;
@using iSchool.Domain.Modles;
@using iSchool.Infrastructure;
@model iSchool.Application.Service.Alg3QyRstDto
@{
    ViewData["Title"] = "算法-个人";

    var menus = (ViewBag.Menus as List<ExtMenuItem>);
}

@section css{
    <style>
        .div-row {
            margin:0.5em 0;
        }
    </style>
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4><strong>总体</strong></h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4>@Math.Round(menus.Average(_ => _.Completion) * 100, 2, MidpointRounding.AwayFromZero)%</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @{await Html.RenderPartialAsync("P_Menu_Step1");}
                @for (var i = 0; i < menus.Count; i++)
                {
                    <div class="row form-group">
                        <div class="col-md-6">
                            <a href="/school/step@(i + 2)?sid=@ViewBag.sid&extid=@ViewBag.eid">@menus[i].Name</a>
                        </div>
                        <div class="col-md-6 text-right">@Math.Round(menus[i].Completion * 100, 2, MidpointRounding.AwayFromZero)%</div>
                    </div>
                }
            </div>
            @{await Html.RenderPartialAsync("P_Menu_Alg");}
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>个人</h4>
            </div>
            <div class="card-body">
                <div class="custom-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active show" id="tab_Achievement" data-toggle="tab" href="#custom-nav-Achievement" role="tab" aria-controls="custom-nav-Achievement" aria-selected="true"><h3><b>升学成绩</b></h3></a> 
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        @* 升学成绩 *@
                        <div class="tab-pane fade active show" id="custom-nav-Achievement" role="tabpanel" aria-labelledby="tab_Achievement">
                            <div id="div_Achievement">
                                @if (
Model.Ext.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Ext.Type.In((byte)SchoolType.Public, (byte)SchoolType.Private)
                               )
                                {
                                <div class="form-group">
                                    <label class="form-control-label">
                                        @*@(Model.Ext.Grade == (byte)SchoolGrade.JuniorMiddleSchool ? "中考" : Model.Ext.Grade == (byte)SchoolGrade.SeniorMiddleSchool ? "高考" : "")平均分*@
                                        中考平均分
                                    </label>
                                    <div class="row">
                                        <div class="form-inline col-md-4">
                                            <input type="text" fname="ExtamAvgscore" class="form-control" value="@(Model.ExtamAvgscore)" valid-med="valid_num0" valid-errmsg="中考平均分 请输入正确的分数!!" />
                                            <label class="pr-1 form-control-label">分</label>
                                        </div>
                                    </div>
                                </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="form-control-label">中考平均分</label>
                                        <span style="color:red;display:block;">该字段与所选学校类型无关</span>
                                    </div>
                                }
                                <div class="form-group">
                                    <strong class="form-control-label">状元人数</strong>
                                    @if (
Model.Ext.Grade == (byte)SchoolGrade.SeniorMiddleSchool && Model.Ext.Type.In((byte)SchoolType.Public, (byte)SchoolType.Private)
                                        )
                                    {
                                    <div class="row div-row">
                                        <div class="form-inline col-md-3" align="center">
                                            <label class="pr-1 form-control-label">@(EnumUtil.GetDesc((SchoolGrade)Model.Ext.Grade))状元人数</label>
                                        </div>
                                        <div class="form-inline col-md-6">          
                                            <input type="text" fname="No1Count" class="form-control" value="@(Model.No1Count)" valid-med="valid_num0" valid-errmsg="状元人数 请输入正确的人数!!" />
                                            <label class="pr-1 form-control-label">人</label>
                                        </div>
                                    </div>    
                                    }
                                    else
                                    {
                                        <span style="color:red;display:block;">该字段与所选学校类型无关</span>
                                    }
                                </div>
                                <div class="form-group">
                                    <strong class="form-control-label">保送人数</strong>
                                    @if (
Model.Ext.Grade == (byte)SchoolGrade.SeniorMiddleSchool || (Model.Ext.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Ext.Type.In((byte)SchoolType.Public, (byte)SchoolType.Private))
                                        )
                                    {
                                    <div class="row div-row">
                                        <div class="form-inline col-md-3" align="center">
                                            <label class="pr-1  form-control-label">@(EnumUtil.GetDesc((SchoolGrade)Model.Ext.Grade))保送人数</label>
                                        </div>
                                        <div class="form-inline col-md-6">          
                                            <input type="text" fname="CmstuCount" class="form-control" value="@(Model.CmstuCount)" valid-med="valid_num0" valid-errmsg="保送人数 请输入正确的人数!!" />
                                            <label class="pr-1  form-control-label">人</label>
                                        </div>
                                    </div> 
                                    }
                                    else
                                    {
                                        <span style="color:red;display:block;">该字段与所选学校类型无关</span>
                                    }
                                </div>
                                <div class="form-group">
                                    <strong class="form-control-label">自主招生</strong>
                                    @if (
Model.Ext.Grade == (byte)SchoolGrade.SeniorMiddleSchool || (Model.Ext.Grade == (byte)SchoolGrade.JuniorMiddleSchool && Model.Ext.Type.In((byte)SchoolType.Private))
                                        )
                                    {
                                    <div class="row div-row">
                                        <div class="form-inline col-md-3" align="center">
                                            <label class="pr-1  form-control-label">@(EnumUtil.GetDesc((SchoolGrade)Model.Ext.Grade))自主招生</label>
                                        </div>
                                        <div class="form-inline col-md-6">          
                                            <input type="text" fname="RecruitCount" class="form-control" value="@(Model.RecruitCount)" valid-med="valid_num0" valid-errmsg="自主招生 请输入正确的人数!!" />
                                            <label class="pr-1  form-control-label">人</label>
                                        </div>
                                    </div>    
                                    }
                                    else
                                    {
                                        <span style="color:red;display:block;">该字段与所选学校类型无关</span>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="save btn btn-outline-secondary" nxt-page="/school/alg2?sid=@(ViewBag.sid)&extid=@(ViewBag.eid)">上一页</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="save btn btn-outline-secondary" nxt-page="/school/complete?sid=@(ViewBag.sid)&extid=@(ViewBag.eid)">下一页</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" fname="sid" value="@(ViewBag.sid)"  />
<input type="hidden" fname="eid" value="@(ViewBag.eid)"  />

@section Scripts{ 
    <script src="~/js/schoolDataEnter.js?@(DateTime.Now.Ticks)"></script>
    <script type="text/javascript">
        if (typeof String.prototype.trim === 'undefined') {
            String.prototype.trim = function () {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            };
        }
    </script>
    <script>
        jQuery(function () {
            //...

            jQuery('.save').on('click', function () {
                var btns = jQuery('.save'), btn = jQuery(this), errmsg;
                var o = {};
                jQuery('[fname]').each(function () {
                    var f = jQuery(this), v = f.val(), vmed = f.attr('valid-med');
                    if (vmed && window[vmed] && !window[vmed](v, f)) {
                        return (errmsg = f.attr('valid-errmsg')), false;
                    }
                    o[f.attr('fname')] = v;
                });
                if (errmsg) {
                    return ShowAlert(errmsg, -1);
                }
                
                
                btns.disable(), Loading("正在保存！");
                jQuery.post('/school/alg3', o).then(
                    function (res) {
                        CloseLoading();
                        if (!res.isOk) {
                            return ShowAlert(res.msg), btns.enable();
                        }
                        ShowAlert('保存成功', 1000, function () {
                            window.onbeforeunload = undefined;
                            window.location.replace(btn.attr('nxt-page'));
                        });
                    },
                    function (res) {
                        CloseLoading(), btns.enable();
                        console.log(res);
                    }
                );
            });
        });

        function valid_num(value, element) {
            return (jQuery.isNumeric(value) && parseFloat(value, 10) >= 0);
        }
        function valid_num0(value, element) {
            return value == '' || (jQuery.isNumeric(value) && parseFloat(value, 10) >= 0);
        }
    </script>
}
