@using iSchool.Domain.Modles;
@using iSchool.Infrastructure;

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>  <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]-数据中心管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="apple-touch-icon" href="apple-icon.png">*@
    <link rel="shortcut icon" href="favicon.ico">
    <link href="@(ViewBag.StaticFile)/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="@(ViewBag.StaticFile)/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/themify-icons/css/themify-icons.css" />
    @*国家flag*@
    @*<link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">*@
    <link rel="stylesheet" href="~/lib/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link href='https://fonts.geekzu.org/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    @RenderSection("css", false)

</head>
<body>

    <div id="right-panel" class="right-panel">
        <div id="body-content" class="content mt-3">
            @RenderBody()
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->

    <div id="loadingDiv" style="display: none; ">
        <div id="over" style=" position: fixed;top: 0;left: 0;right:0;bottom:0;  background-color: black;opacity:0.5;z-index: 1000;">
        </div>
        <div id="layout" style="position: fixed;top: 40%; left: 40%;width: 20%; height: 20%;  z-index: 1001;text-align:center;">
            <img src="~/images/loading.gif" width="50" height="50" />
            <span class="text-white" id="loadingtext" style="display: block; margin-top: 10px;"></span>
        </div>
    </div>

    <!-- /.modal -->
    <!-- system modal start -->
    <div id="com-alert" class=" " style="z-index:9999;display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-exclamation-circle"></i>[Title]
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body small">
                    <p>[Message]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info ok" data-dismiss="modal">[BtnOk]</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@(ViewBag.StaticFile)/jquery/3.2.1/jquery.min.js"></script>
    @*<script src="vendors/popper.js/dist/umd/popper.min.js"></script>*@
    <script src="@(ViewBag.StaticFile)/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="@(ViewBag.StaticFile)/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @*添加版本号*@
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var __alertObj__ = {};

        function ShowAlert(msg, t, cb) {
            //var $alert = [' <div style="height:30px;" class="sufee-alert alert with-close alert-danger alert-dismissible fade show">', '<button type="button" class="close" data-dismiss="alert">&times;</button>', msg, '</div>'].join('');
            var id = 'alert_' + (+new Date());
            var $alert =
                '<div style="position:fixed;top:0;left:0;width:100%;z-index:9000;" id=' + id + '>' +
                '   <div style="clear:both;" class="alert alert-info fade show" role="dialog">' +
                '       <a href="#" class="close" data-dismiss="alert">&times;</a>' +
                '       <div style="text-align: center;">' + msg + '</div>' +
                '   </div>' +
                '</div>';

            var div = jQuery($alert).appendTo("body");
            div.find('a.close[data-dismiss=alert]').on('click', function () {
                CloseAlert(id);
            });

            if (t === undefined) t = 1500;
            __alertObj__['#' + id] = { div, cb };

            t < 0 || setTimeout(function () {
                CloseAlert(id);
            }, t);

            return id;
        }

        function CloseAlert(id) {
            var o = __alertObj__['#' + id];
            if (!o) return false;
            o.div.fadeOut('slow', function () {
                o.cb && o.cb();
                o.div.remove();
                delete __alertObj__['#' + id];
            });
            return true;
        }

        //function ShowMessage(msg) {
        //    var $message = ['<div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">', msg, '<button type="button" class="close" data-dismiss="alert">&times;</button>', '</div>'].join('');
        //    jQuery("#body-content").after($message);
        //}

        //模态对话框
        function showConfirm(msg, callback) {
            //var res = false;
            Modal.confirm(
                {
                    title: '提示',
                    msg: msg,
                }).on(function (e) {
                    callback();
                    //res=true;
                });
            //return res;
        }

        //显示提示消息（自动关闭）
        function showTip(msg, sec, callback) {
            if (!sec) {
                sec = 1000;
            }
            Modal.tip({
                title: '提示',
                msg: msg
            }, sec);
            setTimeout(callback, sec);
        }

        //显示消息
        function showMsg(msg, callback) {
            Modal.alert({
                title: '提示',
                msg: msg,
                btnok: '确定'
            }).on(function (e) {
                if (callback) {
                    callback();
                }
            });
        }

        function CloseLoading() {
            document.getElementById("loadingDiv").style.display = "none";
        }

        function Loading(text = "") {
          
            jQuery("#loadingDiv #loadingtext").html(text);
            //var width = document.body.scrollWidth;
            //var height = document.body.scrollHeight;
            //document.getElementById("loadingDiv").style.width = width;
            //document.getElementById("loadingDiv").style.height = height;
            document.getElementById("loadingDiv").style.display = "block";
        }


        jQuery(function () {
            var $ = jQuery;
            window.Modal = function () {
                var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
                var alr = $("#com-alert");
                var ahtml = alr.html();

                var _tip = function (options, sec) {
                    alr.html(ahtml);    // 复原
                    alr.find('.ok').hide();
                    alr.find('.cancel').hide();
                    alr.find('.modal-content').width(500);
                    _dialog(options, sec);

                    return {
                        on: function (callback) {
                        }
                    };
                };

                var _alert = function (options) {
                    alr.html(ahtml);  // 复原
                    alr.find('.ok').removeClass('btn-success').addClass('btn-primary');
                    alr.find('.cancel').hide();
                    _dialog(options);

                    return {
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                alr.find('.ok').click(function () { callback(true) });
                            }
                        }
                    };
                };

                var _confirm = function (options) {
                    alr.html(ahtml); // 复原
                    alr.find('.ok').removeClass('btn-primary').addClass('btn-success');
                    alr.find('.cancel').show();
                    _dialog(options);

                    return {
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                alr.find('.ok').click(function () { callback(true) });
                                alr.find('.cancel').click(function () { return; });
                            }
                        }
                    };
                };

                var _dialog = function (options) {
                    var ops = {
                        msg: "提示内容",
                        title: "操作提示",
                        btnok: "确定",
                        btncl: "取消"
                    };

                    $.extend(ops, options);

                    var html = alr.html().replace(reg, function (node, key) {
                        return {
                            Title: ops.title,
                            Message: ops.msg,
                            BtnOk: ops.btnok,
                            BtnCancel: ops.btncl
                        }[key];
                    });

                    alr.html(html);
                    alr.modal({
                        width: 250,
                        backdrop: 'static'
                    });
                }

                return {
                    tip: _tip,
                    alert: _alert,
                    confirm: _confirm
                }

            }();
        })
    </script>
    <script src="~/js/site.js?@(DateTime.Now.Ticks)"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

